################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleJWT/.vs/SimpleJWT/FileContentIndex/b1d779f2-f244-4198-9af9-3d59092ae1d2.vsidx
